{% load static %}
<section
	id="about-me"
	class="flex flex-col md:flex-row bg-green-dark p-4"
>
	<header class="header-right">
		ABOUT ME
	</header>
	<div class="flex justify-center content-center md:w-48 h-48 flex-none m-4">
		<img
			src="{% static 'story_4/images/Profile.png' %}"
			alt="Profile Picture"
			class="rounded-full object-contain"
		/>
	</div>
	<div class="m-4 text-white font-tertiary">
		<p>Hello! 👋</p>
		<br />
		<p>
			My name is Teofanus Gary Setiawan. I’m a sophomore computer
			science student at University of Indonesia. I’m also an avid
			coffe lover to help me in my sleepless nights.
		</p>
		<br />
		<p>
			I have some
			<a
				class="btn"
				href="{% url 'story_4:hobby' %}"
				rel="noopener noreferrer"
				>hobby</a
			>
			that I like to do when I’m not busy programming.
		</p>
		<br />
		<p>My field of interest are programming and math.</p>
		<br />
		<p>If any chance you would like to see what course I took this semester, you can click 
			<a
				class="btn"
				href="{% url 'schedule:index' %}"
				rel="noopener noreferrer"
				>here</a
			>
		</p>
	</div>
</section>
