{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>My Hobbies</title>
{% endblock meta %}

{% block content %}
<section class="bg-green-light p-4">
	<header
		class="font-header text-center text-4xl text-white opacity-50 md:col-span-3 self-center mb-4"
	>
		Hobbies
	</header>
	<div
		class="grid grid-rows-5 md:grid-cols-3 md:grid-rows-2"
	>
		<article
			class="card overflow-hidden"
		>
			<img
				class="h-40 w-full object-cover"
				src="{% static 'story_4/images/Anime.jpg'%}"
				alt="Anime cover"
			/>
			<div class="p-4">
				<h3 class="text-xl font-secondary">Watching Anime</h3>
				<br />
				<p>
					You can check my list of anime
					<a
						href="https://anilist.co/user/TheCryptZen/"
						target="_blank"
						rel="noopener noreferrer"
						class="font-bold"
						>here</a
					>
				</p>
			</div>
		</article>

		<article class="card overflow-hidden">
			<img
				class="h-40 w-full object-cover"
				src="{% static 'story_4/images/Manga.jpg' %}"
				alt="Manga cover"
			/>
			<div class="p-4">
				<h3 class="text-xl font-secondary">Reading Manga</h3>
				<br />
				<p class="font-tertiary">
					You can check my list of manga
					<a
						href="https://anilist.co/user/TheCryptZen/"
						target="_blank"
						rel="noopener noreferrer"
						class="font-bold"
						>here</a
					>
				</p>
			</div>
		</article>

		<article
			class="card overflow-hidden"
		>
			<img
				class="h-40 w-full object-cover"
				src="{% static 'story_4//images/YouTube.jpg' %}"
				alt="Youtube cover"
			/>
			<div class="p-4">
				<h3 class="text-xl font-secondary">Watching Youtube</h3>
				<br />
				<p class="font-tertiary">
					There are a lot of useful material on YouTube
				</p>
			</div>
		</article>

		<article
			class="card overflow-hidden"
		>
			<img
				class="h-40 w-full object-cover"
				src="{% static 'story_4/images/Listening.jpg'%}"
				alt="Peoople listening to music cover"
			/>
			<div class="p-4">
				<h3 class="text-xl font-secondary">
					Listening to music
				</h3>
				<br />
				<p class="font-tertiary">
					I like to listen to music while studying or when I'm
					bored.
				</p>
			</div>
		</article>

		<article
			class="card overflow-hidden"
		>
			<img
				src="{% static 'story_4/images/Sleeping.jpg'%}"
				alt="People sleeping cover"
				class="h-40 w-full object-cover"
			/>
			<div class="p-4">
				<h3 class="text-xl font-secondary">Sleeping</h3>
				<br />
				<p class="font-tertiary">
					That is a picture of somene sleeping. Sleeping has a
					lot of benefit and that's why it's one of my
					hobbies!
				</p>
			</div>
		</article>
	</div>
</section>
{% endblock content %}
