{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Check out my schedule!</title>
{% endblock meta %}

{% block content %}
<section class="p-4 flex flex-col place-items-center">
    <header
		class="font-header text-center text-4xl text-white opacity-50 md:col-span-3 self-center mb-4"
	>
		Details
    </header>
    <div class="w-full max-w-sm text-white font-secondary">
        {% if course %}
        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <div class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                    Course Name:
                </div>
            </div>
            <div class="md:w-2/3">
                {{ course.name }}
            </div>
        </div>

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <div class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                    Lecturer: 
                </div>
            </div>
            <div class="md:w-2/3">
                {{ course.lecturer }}
            </div>
        </div>

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <div class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                    Credits: 
                </div>
            </div>
            <div class="md:w-2/3">
                {{ course.credit }}
            </div>
        </div>

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <div class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                    Description: 
                </div>
            </div>
            <div class="md:w-2/3">
                {{ course.description }}
            </div>
        </div>

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <div class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                    Semester: 
                </div>
            </div>
            <div class="md:w-2/3">
                {{ course.year_parity }} - {{ course.start_year }}/{{ course.start_year|add:"1" }}
            </div>
        </div>

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
                <div class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                    Room:
                </div>
            </div>
            <div class="md:w-2/3">
                {{ course.room }}
            </div>
        </div>
        
        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <a href="{% url 'schedule:index' %}" class="btn">Add more courses!</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}