{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Check out my schedule!</title>
{% endblock meta %}

{% block content %}	

<section class="p-4">
    <header
		class="font-header text-center text-4xl text-white opacity-50 md:col-span-3 self-center mb-4"
	>
		Course
    </header>
    <div class="grid grid-cols-1 md:grid-cols-2 align-center justify-center">
        <div class="text-white font-secondary m-4 space-y-4 w-full max-w-sm md:max-w-xl place-self-center">
            <div class="text-center text-lg m-4">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="text-white font-secondary border border-white px-4 py-3 rounded relative m-4" style="background-color:#F15025">
                                <span class="block sm:inline">{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
            <form action="{% url 'schedule:index' %}" method="GET">
                {% csrf_token %}
                <div class="frm">
                    <div class="md:w-1/3">
                            {{ form.name.label_tag }}
                    </div>
                    <div class="md:w-2/3">
                        {{ form.name }}
                    </div>
                </div>

                <div class="frm">
                    <div class="md:w-1/3">
                            {{ form.lecturer.label_tag }}
                    </div>
                    <div class="md:w-2/3">
                        {{ form.lecturer }}
                    </div>
                </div>

                <div class="frm">
                    <div class="md:w-1/3">
                            {{ form.credit.label_tag }}
                    </div>
                    <div class="md:w-2/3">
                        {{ form.credit }}
                    </div>
                </div>

                <div class="frm">
                    <div class="md:w-1/3">
                            {{ form.description.label_tag }}
                    </div>
                    <div class="md:w-2/3">
                        {{ form.description }}
                    </div>
                </div>

                <div class="frm">
                    <div class="md:w-1/3">
                            {{ form.year_parity.label_tag }}
                    </div>
                    <div class="md:w-2/3 flex space-x-2">
                        <div class="w-1/4">
                            {{ form.year_parity }}
                        </div>
                        <div class="w-3/4">
                            {{ form.start_year }}
                        </div>
                    </div>
                </div>

                <div class="frm">
                    <div class="md:w-1/3">
                            {{ form.room.label_tag }}
                    </div>
                    <div class="md:w-2/3">
                        {{ form.room }}
                    </div>
                </div>

                <div class="md:flex md:items-center">
                    <div class="md:w-1/3"></div>
                    <div class="md:w-2/3">
                        <input type="submit" value="Submit" class="btn">
                    </div>
                </div>
            </form>
        </div>
        <table class="table-auto text-white font-secondary m-4 text-center">
            <thead>
                <tr>
                    <th class="px-4 py-2">Course Name</th>
                    <th class="px-4 py-2">Lecturer</th>
                    <th class="px-4 py-2"></th>
                    <th class="px-4 py-2"></th>
                </tr>
            </thead>
            <tbody>
                {% if courses %}
                    {% for course in courses %}
                        <tr>
                            <td class="border px-4 py-2">{{ course.name }}</td>
                            <td class="border px-4 py-2">{{ course.lecturer }}</td>
                            <td class="px-4 py-2 align-center flex flex-col">
                                <a href="{% url 'schedule:detail' course.id %}" class="btn">Detail</a>
                                <a  href="{% url 'schedule:delete' course.id %}" 
                                    class="btn" 
                                    style="background-color:#F15025">
                                Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</section>

{% endblock content %}
