{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'story_1/css/index.css' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'story_1/images/story1_favicon.png' %}"
    />
    <!--Load fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass&display=swap"
      rel="stylesheet"
    />
    <title>Story 1 - Portfolio</title>
  </head>

  <body>
    <div class="container">
      <div class="boxes">
        <div class="left-side">
          <div class="box-detail">
            <img
              src="{% static 'story_1/images/profile-picture.jpg' %}"
              alt="Profile picture"
              height="100vh"
              width="100vw"
            />
            <div class="section1">
              <h1><b>Teofanus Gary Setiawan</b></h1>
              <h5>Computer Science - University of Indonesia</h5>
            </div>

            <div class="section2">
              <div class="left">
                <h2>NPM:</h2>
                <h2>Batch:</h2>
                <h2>Hobi:</h2>
              </div>
              <div class="right">
                <h2>1906400160</h2>
                <h2>Maung - 2019</h2>
                <h2>Makan, nonton</h2>
              </div>
            </div>
          </div>
          <div class="box-social-media">
            <a
              class="item"
              href="https://www.instagram.com/garyteofanus/"
              target="_blank"
              ><img src="{% static 'story_1/images/instagram-icon.png' %}"
              alt="Instagram"</a
            >
            <a
              class="item"
              href="https://twitter.com/garyteofanus"
              target="_blank"
              ><img src="{% static 'story_1/images/twitter-icon.png' %}"
              alt="Twitter"</a
            >
            <a
              class="item"
              href="https://github.com/garyteofanus"
              target="_blank"
              ><img src="{% static 'story_1/images/github-icon.svg' %}" alt="GitHub"</a
            >
            <a
              class="item"
              href="https://www.linkedin.com/in/garyteofanus/"
              target="_blank"
              ><img src="{% static 'story_1/images/linkedin-icon.png' %}"
              alt="LinkedIn"</a
            >
            <a class="item" href="mailto: garyteofanus@gmail.com"
              ><img src="{% static 'story_1/images/gmail-icon.png' %}" alt="Email"
            /></a>
          </div>
        </div>

        <div class="right-side">
          <div class="box-about-me">
            <p>
              An aspiring computer scientist. Interested in security and
              programming. Currently on my third semester and having a hard
              time😭
            </p>
          </div>
          <div class="box-education-timeline">
            <div class="education-timeline-container">
              <div class="timeline-item" date-is="2019 - Now">
                <h3>Faculty of Computer Science, University of Indonesia</h3>
              </div>
              <div class="timeline-item" date-is="2016 - 2019">
                <h3>SMAK 1 BPK Penabur Bandung Highschool</h3>
              </div>
              <div class="timeline-item" date-is="2013 - 2016">
                <h3>SMP Talenta Bandung</h3>
              </div>
              <div class="timeline-item" date-is="2007 - 2013">
                <h3>SD Talenta Bandung</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
